<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center">Agregar</h3>
        <div class="class-body">
          <form action="">
            <div class="form-group">
              <label for="">Nombres:</label>
              <input [(ngModel)]="ciudad.nombre" name="nombre" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Descripcion:</label>
              <input [(ngModel)]="ciudad.descripcion" name="descripcion" type="text" class="form-control">
            </div>
            <br>
            <button (click)="Guardar()" class="btn btn-success">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>